mixin jsonLD
    script(type='application/ld+json').
      {"@context": "http://schema.org", "@type": "WebSite", "url": "http://expertklining-franch.ru", "name": "Эксперт Клининг — Франшиза", "author":{"@type": "Person", "name": "http://youfranch.ru"}, "description": "Получайте по 30 заявок в неделю на клининговые услуги и зарабатывайте от 300 000 руб/мес", "publisher": "http://youfranch.ru"}
    script(type='application/ld+json').
      {"@context": "http://schema.org", "@type": "Organization", "url": "http://expertklining-franch.ru", "sameAs": [ "https://www.facebook.com/expertklining-franch/", "https://www.instagram.com/expertklining-franch/", "https://twitter.com/expertklining-franch"], "@id": "#organization", "name": "Эксперт Клининг — Франшиза", "logo": "http://res.cloudinary.com/dvbyognrh/image/upload/v1513060997/random/expertcleaning_logo_social.jpg"}

mixin yaMetrica(id)
    //- Yandex.Metrika counter
    script.
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter#{id} = new Ya.Metrika2({
      id:#{id},
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/tag.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks2");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/' + id, style='position:absolute; left:-9999px;', alt='yandex metrika')
    //- /Yandex.Metrika counter

mixin ga(id)
    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','#{id}');ga('send','pageview');

//- https://www.favicon-generator.org/
mixin favicon
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

mixin social
    meta(name='keywords', content='photography, template')
    meta(name='image', content='')
    meta(name='original-source', content='')
    link(rel='canonical', href='')
    meta(property='og:locale', content='en_EN')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Photography Template')
    meta(property='og:description', content='')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='Photography Template')
    meta(property='og:image', content='')
    meta(property='og:image:secure_url', content='')
    meta(name='twitter:title', content='Photography Template')
    meta(name='twitter:image', content='')
    meta(name='twitter:description', content='')
    meta(name='twitter:card', content='')
    meta(name='twitter:site', content='@PhotographyTemplate')

mixin modal
    .modal(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span.oi.oi-x(aria-hidden='true')
          .modal-body
            p Thank you for the feedback!

mixin readMore(url, style)
    if style=='simple'
        a.read-more.read-more_simple(href=url) read more...
    if style=='fancy'
        a.read-more.read-more_fancy(href=url) read more

mixin logo
    .logo.logo_bright
        img.logo__image(src=meta.logoCDN, alt=meta.siteName)
        span= meta.siteNameLogo

mixin navList(placement)
    if placement == 'header'
        ul.nav__list
            each val, index in nav.links
                if index == 0
                    li.nav__item.nav__item-active
                        a(href='#' + val)= val
                else
                    li.nav__item
                        a(href='#' + val)= val
    if placement == 'footer'
        ul.nav__list.nav__list_vertical
            each val, index in nav.links
                if index == 0
                    li.nav__item.nav__item-active
                        a(href='#' + val)= val
                else
                    li.nav__item
                        a(href='#' + val)= val
            
mixin clientsImages
    .row
        each image in clients.images
            .col-lg-2.our-clients__item
                a(href='#0', title=image[0], draggable="false")
                    img(src=image[2], alt=image[0], draggable="false")
                
mixin service
    .row.service__items
        each offer, index in service.offers
            if index == 0
                .col-sm-4
                    h5.service__offer-title= offer.title
                    a(href='#0', draggable="false")
                        img(src=offer.imageCDN alt=offer.title, draggable="false")
            if index == 1
                .col-sm-4.content-center
                    div
                        h5.service__offer-title= offer.title
                        a(href='#0', draggable="false")
                            img(src=offer.imageCDN alt=offer.title, draggable="false")
            if index == 2
                .col-sm-4.content-right
                    div
                        h5.service__offer-title= offer.title
                        a(href='#0', draggable="false")
                            img(src=offer.imageCDN alt=offer.title, draggable="false")
                            
mixin portfolioItem(url, image, alt)
    a.portfolio__item(href=url, draggable="false")
        img.img-fluid(src=image, alt=alt)
        .portfolio__item-social
            .portfolio__item-social-share
                .ya-share

mixin blogPostsPreview
    each post, index in blog.postsPreview
        .row.blog-post-preview__entry
            .col-sm-3.col-12
                .blog-post-preview__image
                    a(href="#0", draggable="false")
                        img.img-fluid(src=post.imageCDN, alt=post.content, draggable="false")
            .col-sm-9.col-12
                .blog-post-preview__content
                    p= post.content
                    footer.blog-post-preview__info= post.category + ' - ' + post.date

mixin blogPosts
    .row.blog__posts
        each post, index in blog.posts
            if(index == 1)
                .col-lg-4.order-md-1.order-lg-2.order-1(class="order-md-" + index)
                    .blog-entry
                        h3.blog-entry__title-main= blog.caption
                        .blog-entry__middle
                            p.blog-entry__intro= blog.intro
                            .blog-entry__block
                                a(href="#0", draggable="false").blog-entry__link
                                    img.img-fluid(src=post.imageCDN, alt=post.title, draggable="false")
                                .blog-entry__content
                                    h4.blog-entry__title= post.title
                                    div.blog-entry__info
                                        span.blog-entry__category= post.category
                                        |  - 
                                        time.blog-entry__date(datetime="2017-07-03")= post.date
                                    div.blog-entry__text= post.content
                                    div
                                        a.read-more.read-more_fancy(href=post.fullLink) read more
            else if(index == 0)
                .col-lg-4.order-md-12.order-12.order-lg-1(class="order-md-" + index)
                        .blog-entry
                            a(href="#0", draggable="false").blog-entry__link
                                img.img-fluid(src=post.imageCDN, alt=post.title, draggable="false")
                            .blog-entry__content
                                h4.blog-entry__title= post.title
                                div.blog-entry__info
                                    span.blog-entry__category= post.category
                                    |  - 
                                    time.blog-entry__date(datetime="2017-07-03")= post.date
                                div.blog-entry__text= post.content
                                div
                                    a.read-more.read-more_fancy(href=post.fullLink) read more
            else
                .col-lg-4.order-md-12.order-12.order-lg-3(class="order-md-" + index)
                    .blog-entry
                        a(href="#0", draggable="false").blog-entry__link
                            img.img-fluid(src=post.imageCDN, alt=post.title, draggable="false")
                        .blog-entry__content
                            h4.blog-entry__title= post.title
                            div.blog-entry__info
                                span.blog-entry__category= post.category
                                |  - 
                                time.blog-entry__date(datetime="2017-07-03")= post.date
                            div.blog-entry__text= post.content
                            div
                                a.read-more.read-more_fancy(href=post.fullLink) read more