extends layouts/default

block content
    header.main-header#home
        .main-header__headline.navbar.navbar-expand-md
            .main-header__logo
                +logo
            button.nav__toggle.navbar-toggler(type='button', data-toggle="collapse", data-target="#collapsibleNavbar")
                span.oi.oi-collapse-down
            .main-header__nav.collapse.navbar-collapse#collapsibleNavbar
                nav.nav
                    +navList('header')
                            
        .main-header__hero
            .hero
                h1.hero__caption= hero.caption
                h2.hero__sub-caption= hero.subCaption
                .hero__bottom
                        a.button.button_yellow.button_regular.button_capitalized.hvr-forward(href='#0')= hero.button
                
        .main-heder__bottomline
            .bottomline
                .container
                    .row
                        .col-sm-4.offset-sm-4
                            a.bottomline__scroll-to-about.hvr-wobble-vertical(href='#about')
                                span.oi.oi-chevron-bottom(aria-hidden='true')
                        .col-sm-4.bottomline__social
                            .ya-share
            
    main.main-content
        section.main-content__about
            .about#about
                .container
                    .row
                        .col-md-4.about__about-thumb
                            img.img-fluid.about__image(src= about.imageCDN alt='about myself', draggable="false")
                        .col-md-8
                            .about__textual-content
                                h3.about__title= about.caption
                                p.about__description= about.description
                                aside.services
                                    h4.services__title= service.caption
                                    +service
                                    footer.services__footer
                                        a.button.button_dark-blue.button_uppercase.button_semi-bold.hvr-forward(href='https://www.flickr.com/')= service.button
        
        section.main-content__our-clients
            .container
                .our-clients#clients
                    h3.our-clients__title= clients.caption
                    +clientsImages
                    
        section.main-content__portfolio
            .container-fluid
                .portfolio.portfolio_cross-figure#portfolio
                    .row
                        .col-lg-4.portfolio__intro
                                h3.portfolio__title= portfolio.caption
                                p.portfolio__description= portfolio.description
                                +readMore(portfolio.descriptionLink, 'simple')
                        .col-lg-8.portfolio__gallery
                            .row
                                .col-sm-4.vertical-col
                                    +portfolioItem('#0', portfolio.images[0], 'portfolio 0')
                                    +portfolioItem('#0', portfolio.images[1], 'portfolio 1')
                                .col-sm-8
                                    .row.horizontal-col
                                        .col-sm-9
                                            +portfolioItem('#0', portfolio.images[2], 'portfolio 2')
                                        .col-sm-3
                                            +portfolioItem('#0', portfolio.images[3], 'portfolio 3')
                                    .row.horizontal-col
                                        .col-sm-6
                                            +portfolioItem('#0', portfolio.images[4], 'portfolio 4')
                                        .col-sm-6.text-right
                                            +portfolioItem('#0', portfolio.images[5], 'portfolio 5')
                                    .row.horizontal-col
                                        .col-12
                                            +portfolioItem('#0', portfolio.images[6], 'portfolio 6')
                            footer.row.portfolio__footer
                                .col-12
                                    a.button.button_transparent.button_uppercase.button__wider.hvr-wobble-horizontal(href='#')= portfolio.button
            
        section.main-content__blog
            .blog.blog_cross-figure#blog
                .blog_cross-figure-bottom
                    .container-fluid
                        +blogPosts
        
        section.main-content__feedback
            .feedback
                .container
                    h3.feedback__title= feedback.caption
                    form.feedback-form(class='feedback__ajax-submit', method='POST', action='https://formspree.io/antlis@protonmail.com')
                        div.feedback-form__form-group
                            .feedback-form__required.feedback-form__field
                                input(name='feedback-name', placeholder=feedback.placeholderName, type='text', required, minlength='3', maxlength="20")
                        div.feedback-form__form-group
                            .feedback-form__required.feedback-form__field
                                input(name='feedback-email', placeholder=feedback.placeholderEmail, type='email', required)
                        div.feedback-form__form-group
                            textarea(name='feedback-message', placeholder=feedback.placeholderMessage)
                        div.feedback-form__form-group
                            button.button.button_yellow.button_regular.button_uppercase.hvr-bounce-in(type='submit')= feedback.button
                    
    aside.pre-footer
        .container
            a.pre-footer__scroll-to-top(href='#home')
                span.pre-footer__scroll-to-top-icon.oi.oi-chevron-top(aria-hidden='true')
            .row.bottom-menu
                .col-lg-3.col-md-6.bottom-menu__item
                    +logo
                    h5.pre-footer__caption.pre-footer__caption_inner= preFooter.contactCaption
                    .contact
                        div= contact.address
                        div= contact.zip
                        div
                            a.contact__email(href='mailto:' + contact.email)=contact.email
                    h5.pre-footer__caption.pre-footer__caption_inner.pre-footer__caption_follow= preFooter.followMeCaption
                    .ya-share
                .col-lg-4.col-md-6.bottom-menu__item
                    h5.pre-footer__caption= preFooter.latestBlogPostsCaption
                    .blog-posts-preview
                        +blogPostsPreview
                .col-lg-2.col-md-6.bottom-menu__item
                    h5.pre-footer__caption= preFooter.quickLinkCaption
                    +navList('footer')
                .col-lg-3.col-md-6.bottom-menu__item
                    .instagram-feed
                        h5.pre-footer__caption= preFooter.instagramUpdateCaption
                        .row.instagram-feed__row
                            .col-6
                                a(href='#0', draggable="false")
                                    img.img-fluid(src=preFooter.instagramFeed.image0, alt='instagram feed 0', draggable="false")
                            .col-6.vertical-col
                                a(href='#0', draggable="false")
                                    img.img-fluid(src=preFooter.instagramFeed.image1, alt='instagram feed 1', draggable="false")
                                a.instagram-feed__bottom-row(href='#0', draggable="false")
                                    img.img-fluid(src=preFooter.instagramFeed.image2, alt='instagram feed 2', draggable="false")
                        .row.instagram-feed__row.instagram-feed__bottom-row
                            .col-4
                                a(href='#0', draggable="false")
                                    img.img-fluid(src=preFooter.instagramFeed.image3, alt='instagram feed 3', draggable="false")
                            .col-4
                                a(href='#0', draggable="false")
                                    img.img-fluid(src=preFooter.instagramFeed.image4, alt='instagram feed 4', draggable="false")
                            .col-4
                                a(href='#0', draggable="false")
                                    img.img-fluid(src=preFooter.instagramFeed.image5, alt='instagram feed 5', draggable="false")
    
    footer.main-footer
        //- http://html5doctor.com/small-hr-element/
        small.main-footer__copy= footer.copy