extends layouts/default

block content
    header.main-header#home
        .main-header__headline
            .main-header__logo
                +logo
            .main-header__nav
                nav.nav
                    +navList('header')
                            
        .main-header__hero
            .hero
                h1.hero__caption= hero.caption
                h2.hero__sub-caption= hero.subCaption
                a.button.button_yellow.button_regular.button_capitalized(href='#0')= hero.button
                
        .main-heder__bottomline
            .bottomline
                .container
                    .row
                        .col-sm-4.offset-sm-4
                            a.bottomline__scroll-to-about(href='#about')
                                span.oi.oi-chevron-bottom(aria-hidden='true')
                        .col-sm-4.bottomline__social
                            .ya-share
            
    main.main-content
        section.main-content__about
            .about#about
                .container
                    .row
                        .col-sm-4
                            img.about__about-thumb(src='/images/about_thumbnail.jpg' alt='about myself')
                        .col-sm-8
                            h3.about__title= about.caption
                            p.about__description= about.description
                            aside.services
                                h4.services__title= service.caption
                                +service
                                a.button.button_dark-blue.button_uppercase.button_semi-bold(href='#0')= service.button
        
        section.main-content__our-clients
            .container
                .our-clients#clients
                    h3.our-clients__title= clients.caption
                    +clientsImages
                    
        section.main-content__portfolio
            .container-fluid
                .portfolio#portfolio
                    .row
                        .col-md-4
                            .portfolio__intro
                                h3.portfolio__title= portfolio.caption
                                p.portfolio__description= portfolio.description
                                +readMore(portfolio.descriptionLink, 'simple')
                        .col-md-8
                            .row
                                .col-sm-4.vertical-col
                                    a.portfolio__item(href='#0')
                                        img.img-fluid(src='/images/portfolio/portfolio_0.jpg', alt='portfolio 0')
                                        .portfolio__item-social
                                    a.portfolio__item(href='#0')
                                        .portfolio__item-social
                                        img.img-fluid(src='/images/portfolio/portfolio_1.jpg', alt='portfolio 1')
                                .col-sm-8
                                    .horizontal-col
                                        a.portfolio__item(href='#0')
                                            .portfolio__item-social
                                            img.img-fluid(src='/images/portfolio/portfolio_2.jpg', alt='portfolio 2')
                                        .portfolio__item
                                            .portfolio__item-social
                                            img.img-fluid(src='/images/portfolio/portfolio_3.jpg', alt='portfolio 3')
                                    .horizontal-col
                                        a.portfolio__item(href='#0')
                                            .portfolio__item-social
                                            img.img-fluid(src='/images/portfolio/portfolio_4.jpg', alt='portfolio 4')
                                        a.portfolio__item(href='#0')
                                            .portfolio__item-social
                                            img.img-fluid(src='/images/portfolio/portfolio_5.jpg', alt='portfolio 5')
                                    .horizontal-col
                                        a.portfolio__item(href='#0')
                                            .portfolio__item-social
                                            img.img-fluid(src='/images/portfolio/portfolio_6.jpg', alt='portfolio 6')
            
        section.main-content__blog
            .blog#blog
                .container-fluid
                    +blogPosts
        
        section.main-content__feedback
            .feedback
                .container
                    h3.feedback__title= feedback.caption
                    form.feedback-form(class='feedback__ajax-submit', method='POST', action='https://formspree.io/antlis@protonmail.com')
                        div.feedback-form__form-group
                            input(name='feedback-name', placeholder=feedback.placeholderName, type='text', required)
                        div.feedback-form__form-group
                            input(name='feedback-email', placeholder=feedback.placeholderEmail, type='text', required)
                        div.feedback-form__form-group
                            textarea(name='feedback-message', placeholder=feedback.placeholderMessage)
                        div.feedback-form__form-group
                            button.button.button_yellow.button_regular.button_uppercase(type='submit')= feedback.button
                    
    aside.pre-footer
        .container
            a.pre-footer__scroll-to-top(href='#home')
                span.oi.oi-chevron-top(aria-hidden='true')
            .row
                .col-lg-3
                    +logo
                    h5.pre-footer__caption.pre-footer__caption_inner= preFooter.contactCaption
                    .contact
                        div= contact.address
                        div= contact.zip
                        div
                            a.contact__email(href='mailto:' + contact.email)=contact.email
                    h5.pre-footer__caption.pre-footer__caption_inner.pre-footer__caption_follow= preFooter.followMeCaption
                    .ya-share-footer
                .col-lg-4
                    h5.pre-footer__caption= preFooter.latestBlogPostsCaption
                    .blog-posts-preview
                        +blogPostsPreview
                .col-lg-2
                    h5.pre-footer__caption= preFooter.quickLinkCaption
                    +navList('footer')
                .col-lg-3
                    .instagram-feed
                        h5.pre-footer__caption= preFooter.instagramUpdateCaption
                        .row
                            .col-6
                                img.img-fluid(src=preFooter.instagramFeed.image0, alt)
                            .col-6.vertical-col
                                img.img-fluid(src=preFooter.instagramFeed.image1, alt)
                                img.img-fluid(src=preFooter.instagramFeed.image2, alt)
                        .row.instagram-feed__bottom-row
                            .col-4
                                img.img-fluid(src=preFooter.instagramFeed.image3, alt)
                            .col-4
                                img.img-fluid(src=preFooter.instagramFeed.image4, alt)
                            .col-4
                                img.img-fluid(src=preFooter.instagramFeed.image5, alt)
    
    footer.main-footer
        small.main-footer__copy= footer.copy